body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	margin: 0;
	padding: 0;
}

h1 {
	color: #f2f2f2;
	font-size: 36px;
	margin-top: 0;
}

header {
	background-color: #251313;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
	color: #333;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff2f2;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}

nav a:hover {
	background-color: #463232;
	color: #fff;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.hero {
	background-image: url(people.jpeg);
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
}

.hero h2 {
	font-size: 48px;
	margin: 0;
}

.hero p {
	font-size: 24px;
	margin: 20px 0;
}

.btn {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: #fff;
	color: #333;
}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}

.feature {
	flex-basis: calc(33.33% - 20px);
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	border-radius: 5px;
}

.feature img {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 5px;
}

.gallery {
	margin-top: 50px;
	text-align: center;
}

.gallery h2 {
	margin-bottom: 20px;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.photos img {
	flex-basis: calc(25% - 20px);
	margin: 10px;
	border-radius: 5px;
}

footer {
	background-color: #251313;
	color: #fff;
	padding: 20px;
	text-align: center;
}

footer p {
	margin: 0;
}
.like {
    background-color: #1a1c1f;
    border-color: #1a1c1f;
    color: #ffffff;
}
 
.dislike {
    background-color: #612026;
    border-color: #612026;
    color: #ffffff;
}

* {
	box-sizing: border-box;
  }
  
  .container2 {
	position: relative;
	width: 50%;
	margin-left: 25%;
  }
  
  .mySlides {
	display: none;
  }
  
  .cursor {
	cursor: pointer;
  }
  
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
  }
  
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
  }

  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }

  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .column {
	margin-left: 8px;
	float: left;
	width: 11%;
  }
  
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }